<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <nav>
      <span>Cadastro</span>
    </nav>
    <% if (message) {%>
    <div class="message"><%= message %></div>
    <% } %>
    <form action="/register" method="POST">
      <label for="emailInput">E-mail: </label>
      <input required type="text" name="email" id="emailInput" data-testid="email" /><br />
      <label for="passwordInput">Senha: </label>
      <input
        required
        type="password"
        name="password"
        id="passwordInput"
        data-testid="senha"
      /><br />
      <label for="passwordConfirm">Confirmar Senha: </label>
      <input
        required
        type="password"
        name="passwordConfirm"
        id="passwordConfirm"
        data-testid="confirmar-senha"
      /><br />
      <label for="name">Nome: </label>
      <input required type="text" name="name" id="name" data-testid="nome" /><br />
      <label for="lastName">Sobrenome: </label>
      <input required type="text" name="lastName" id="lastName" data-testid="sobrenome" /><br />
      <button type="submit" data-testid="cadastrar">Cadastrar-se</button>
    </form>
    <a href="/login">
      <button data-testid="login">Login</button>
    </a>
  </body>
</html>
