<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Recipe</title>
  </head>
  <body>
    <%- include('navbar', { user }); %>
    <div>
      <form action="/recipes/search" method="GET">
        <input data-testid="receita" name="q" type="text" />
        <button data-testid="buscar" type="submit">Buscar</button>
      </form>
    </div>
    <% if (recipes) {%>
    <div>
      <% recipes.map(recipe => { %>
      <div>
        <p>Receita: <%= recipe.name %></p>
        <p>Autor: <%= recipe.user %></p>
        <a href="/recipes/<%= recipe.id %>">Ver mais</a>
      </div>
      <%})%>
    </div>
    <% } %>
  </body>
</html>
