body {
    margin: 35px;
    padding: 0.5em;
    background-color: black;
    font-family: "Inter", sans-serif;
    color: white;
    text-align: justify;
    }
        
    h1 {
    margin: 45px;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    text-decoration: bold;
    text-align: left;
    color: white;
    line-height: 0em;
    transition: opacity 0.9s ease-in-out;
    }
    
    h2 {
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: 45px;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    text-align: left;
    color: white;
    line-height: 0em;
    transition: opacity 0.9s ease-in-out;
    }
    
